@charset "UTF-8";
/* ここから全体共通部分の装飾 */
    *{
        font-size: 100%;
        /* デフォルトの16pxでの指定 */
    }
    body{
        line-height: 1.8;
        /* 数値のみで指定すれば、自動で180％や1.8remなどに調整してくれる */
        color: #343131;
    }
    a{
        text-decoration: none;
        /* aタグすべての傍線をなくす */
        color: #343131;
    }
    img{
        max-width: 100%;
        /* imgの最大幅は画面幅に合わせる(100％) */
    }
    .wrapper{
        max-width: 100%;
        /* 最大幅を指定。これ以上は大きくならない。縮小時に適正な幅を保ってくれる */
        margin: 0 auto;
        padding: 0;
        /* スマホ向けの余白を指定する */
    }

    /* ここから各タイトルの装飾(OK) */
        .anchor{
            /* ジャンプ時に見出しが見切れない設定 */
            display: block;
            padding-top: 70px;
            margin-top: -70px;
        }
        .segment-title{
            /* background-color: cadetblue; */
            font-size: 40px;
            margin-left: 40%;
            /* transform: translateX(-50%);
            padding-left: 0%; */
        }
        .segment-englishtitle{
            /* background-color: aquamarine; */
            /* position: absolute;
            bottom: 0;
            margin-left: 65%; */
            font-size: 20px;
            padding-left: 10px;
        }
    /* ここから各タイトルの装飾 */
/* ここまで全体共通部分の装飾 */

/* ここからheaderの装飾 */
    .page-header{
        background-color: rgba(228, 228, 228,.9);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: fixed;
        z-index: 90;
    }
    .header-title{
        font-size: 2.5em;
        margin-left: 60px;
    }
    .page-header a{
        color: rgb(33, 33, 33);
        /* color: aliceblue; */
    }
    .page-header nav{
        align-self: flex-end;
    }
    .main-nav{
        display: flex;
    }
    .main-nav a{
        padding: 6px;
        margin-bottom: 0;
        display: inline-block;
        margin-block: 2px;
        position: relative;
    }
    .main-nav a::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #161515;
        /* border-radius: 4px; */
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .25s ease;
    }
    .main-nav li a:hover::after{
        /* background-color: rgb(33, 33, 33);
        color: rgb(228, 228, 228); */
        transform: scaleX(1);
    }
    li{
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
        padding: 10px;
    }
/* ここまでheaderの装飾 */

/* ここからトップ画像の装飾 */
    .toppicture{
        position: relative;
    }
    .purpose{
        color: antiquewhite;
        font-size: 3rem;
        position: absolute;
        top: 25%;
        left: 60%;
    }
    .purpose-method{
        color: antiquewhite;
        font-size: 1rem;
        position: absolute;
        top: 38%;
        left: 60%;
    }
    .realization{
        display: inline-block;
        color: antiquewhite;
        font-size: 2.4rem;
        position: absolute;
        top: 49%;
        left: 70%;
        transform: rotate(-15deg);
    }
/* ここまでトップ画像の装飾 */

/* ここから.flowの装飾 */
    .flow{
        position: relative;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .flow-purpase{
        font-size: 2rem;
        text-align: center;
    }
/* ここまで.flowの装飾 */
/* ここからスライドショーの装飾 */
    /* .slide video{
        width: 100%;
        margin-top: 75px;
    } */
    /* .toppic{
        height: 100%;
        margin-top: 20px;
    } */
/* ここまでスライドショーの装飾 */

/* ここから施工実績の装飾 */
    /* ここから共通設定 */
        .works{
            /* background-color: bisque; */
            position: relative;
        }
        .rem{
            /* background-color: #43A047; */
            position: relative;
            margin-bottom: 5%;
            height: 25em;
        }
        
        .works-title{
            font-size: 1.3em;
            line-height: 1.4em;
            margin-bottom: 20em;
        }
    /* ここまで共通設定 */

    /* ここからジャンプ用のbuttonの装飾 */
        .jump{
            display: grid;
            /* grid-template-columns: repeat(3, 1fr); */
            grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
            gap: 10px;
            margin-left: 50%;
            transform: translateX(-45%);
            /* background-color: antiquewhite;
            width: 50%;
            position: relative;
            margin-left: auto;
            margin-right: auto; */
            position: relative;
            z-index: 80;
        }
        .enroll{
            /* margin: 2% 2% 2%; */
            /* margin-top: 20px;
            margin-bottom: 20px; */
            transform: skew(-15deg);
            position: relative;
            width: 12rem;
            height: 3rem;
            padding: 0 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            /* border-radius: 1rem; */
            background: #a8a8a8;
            color: #ffffff;
            transition: all 0.3s;
        }
            .enroll:hover{
                background: transparent;
                /* letter-spacing: 2px; */
                    /* ホバー時に文字間広くする */
                color: #343131;
            }
            .enroll::before{
                top: 0;
            }
            .enroll::after{
                bottom: 0;
            }
            .enroll::before,
            .enroll::after{
                content: "";
                position: absolute;
                left: 0;
                transform: scaleX(0);
                width: 100%;
                height: 0.5px;
                background: rgb(24, 24, 24);
                transition: all 0.3s;
            }
            .enroll:hover::before,
            .enroll:hover::after{
                transform: scaleX(1);
            }
    /* ここまでジャンプ用のbuttonの装飾 */

    /* ここから背景の設定 */
        .parallelogram-wallpaper{
            width: 100%;
            margin: 0;
            padding: 180px 0;
            position: absolute;
            top: 70px;
            /* position: relative;
            z-index: 10;
            width: 100%; */
            /* height: 270px; */
            /* transform: skew(0deg, 13deg);
            background: linear-gradient(to right,rgba(88,170,192,.8),rgba(227,213,195,.8));
            margin-left: 0px;
            margin-top: 10%; */
        }
            .parallelogram-wallpaper::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background:linear-gradient(to right,rgba(88,170,192,.8),rgba(227,213,195,.8));
                transform: skewY(11deg);
                z-index: 10;
            }

        .parallelogram-kitchen{
            width: 100%;
            margin: 0;
            padding: 180px 0;
            position: absolute;
            top: 70px;
            /* position: relative;
            z-index: 9;
            width: 100%;
            height: 270px;
            transform: skew(0deg, -13deg);
            background: linear-gradient(to right,rgba(113,144,197,.8),rgba(227,213,195,.8));
            margin-left: 0px;
            margin-top: 10%; */
        }
            .parallelogram-kitchen::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background:linear-gradient(to right,rgba(113,144,197,.8),rgba(227,213,195,.8));
                transform: skewY(-11deg);
                z-index: 10;
            }

        .parallelogram-bath{
            width: 100%;
            margin: 0;
            padding: 180px 0;
            position: absolute;
            top: 70px;
            /* position: relative;
            z-index: 8;
            width: 100%;
            height: 270px;
            transform: skew(0deg, 13deg);
            background: linear-gradient(to right,rgba(113,144,197,.8),rgba(223,155,163,.8));
            margin-left: 0px;
            margin-top: 10%; */
        }
            .parallelogram-bath::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background:linear-gradient(to right,rgba(113,144,197,.8),rgba(223,155,163,.8));
                transform: skewY(11deg);
                z-index: 10;
            }

        .parallelogram-toilet{
            width: 100%;
            margin: 0;
            padding: 180px 0;
            position: absolute;
            top: 70px;
            /* position: relative;
            z-index: 7;
            width: 100%;
            height: 270px;
            transform: skew(0deg, -13deg);
            background: linear-gradient(to right,rgba(113,144,197,.8),rgba(223,155,163,.8));
            margin-left: 0px;
            margin-top: 10%; */
        }
            .parallelogram-toilet::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background:linear-gradient(to right,rgba(113,144,197,.8),rgba(223,155,163,.8));
                transform: skewY(-11deg);
                z-index: 10;
            }

        .parallelogram-painting{
            width: 100%;
            margin: 0;
            padding: 180px 0;
            position: absolute;
            top: 70px;
            /* position: relative;
            z-index: 6;
            width: 100%;
            height: 270px;
            transform: skew(0deg, 13deg);
            background: linear-gradient(to right,rgba(113,144,197,.8),rgba(227,213,195,.8));
            margin-left: 0px;
            margin-top: 10%; */
        }
            .parallelogram-painting::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background:linear-gradient(to right,rgba(113,144,197,.8),rgba(227,213,195,.8));
                transform: skewY(11deg);
                z-index: 10;
            }

        .parallelogram-anknown{
            width: 100%;
            margin: 0;
            padding: 180px 0;
            position: absolute;
            top: 70px;
            /* position: relative;
            z-index: 5;
            width: 100%;
            height: 270px;
            transform: skew(0deg, -13deg);
            background: linear-gradient(to right,rgba(88,170,192,.8),rgba(227,213,195,.8));
            margin-left: 0px;
            margin-top: 10%;
            margin-bottom: 250px; */
        }
            .parallelogram-anknown::before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background:linear-gradient(to right,rgba(88,170,192,.8),rgba(227,213,195,.8));
                transform: skewY(-11deg);
                z-index: 10;
            }
        /* .remodeling-back{
            position: relative;
            z-index: 10;
        }
        .hole-back{
            position: relative;
            top: -100px;
            z-index: 10;
        }
        .recovery-back{
            position: relative;
            top: -200px;
            z-index: 10;
        } */
    /* ここから各タイトルの位置の設定 */
        .wallpaper-rep{
            /* background-color: aquamarine; */
            position: absolute;
            top: 4%;
            left: 68%;
            z-index: 20;
            white-space: nowrap;
            /* overflow: hidden; */
            text-overflow: ellipsis;
        }
        .kitchen-rep{
            /* background-color: aquamarine; */
            position: absolute;
            top: 4%;
            left: 10%;
            z-index: 20;
            white-space: nowrap;
            /* overflow: hidden; */
            text-overflow: ellipsis;
        }
        .bath-rep{
            /* background-color: aquamarine; */
            position: absolute;
            top: 4%;
            left: 68%;
            z-index: 20;
            white-space: nowrap;
            /* overflow: hidden; */
            text-overflow: ellipsis;
        }
        .toilet-rep{
            /* background-color: aquamarine; */
            position: absolute;
            top: 4%;
            left: 10%;
            z-index: 20;
            white-space: nowrap;
            /* overflow: hidden; */
            text-overflow: ellipsis;
        }
        .painting-rep{
            /* background-color: aquamarine; */
            position: absolute;
            top: 4%;
            left: 68%;
            z-index: 20;
            white-space: nowrap;
            /* overflow: hidden; */
            text-overflow: ellipsis;
        }
        .anknown-rep{
            /* background-color: aquamarine; */
            position: absolute;
            top: 4%;
            left: 10%;
            z-index: 20;
            white-space: nowrap;
            /* overflow: hidden; */
            text-overflow: ellipsis;
        }
    /* 画像の設定 */
        /* wallpaperの画像設定 */
            .wallpaper-before{
                position: absolute;
                left: 5px;
                top: 4%;
                width: 36%;
                z-index: 30;
            }
            .wallpaper-progress{
                position: absolute;
                left: 36%;
                top: 29%;
                width: 28%;
                z-index: 30;
            }
            .wallpaper-after{
                position: absolute;
                right: 5px;
                top: 35%;
                width: 36%;
                z-index: 30;
            }
        /* kitchenの画像設定 */
            .kitchen-before{
                position: absolute;
                right: 5px;
                top: 4%;
                width: 36%;
                z-index: 30;
            }
            .kitchen-progress{
                position: absolute;
                left: 36%;
                top: 29%;
                width: 28%;
                z-index: 30;
            }
            .kitchen-after{
                position: absolute;
                left: 5px;
                top: 35%;
                width: 36%;
                z-index: 30;
            }
        /* bathの画像設定 */
            .bath-before{
                position: absolute;
                left: 5px;
                top: 4%;
                width: 36%;
                z-index: 30;
            }
            .bath-progress{
                position: absolute;
                left: 36%;
                top: 29%;
                width: 28%;
                z-index: 30;
            }
            .bath-after{
                position: absolute;
                right: 5px;
                top: 35%;
                width: 36%;
                z-index: 30;
            }
        /* toiletの画像設定 */
            .toilet-before{
                position: absolute;
                right: 5px;
                top: 4%;
                width: 36%;
                z-index: 30;
            }
            .toilet-progress{
                position: absolute;
                left: 36%;
                top: 29%;
                width: 28%;
                z-index: 30;
            }
            .toilet-after{
                position: absolute;
                left: 5px;
                top: 35%;
                width: 36%;
                z-index: 30;
            }
        /* paintingの画像設定 */
            .painting-before{
                position: absolute;
                left: 5px;
                top: 4%;
                width: 36%;
                z-index: 30;
            }
            .painting-progress{
                position: absolute;
                left: 36%;
                top: 29%;
                width: 28%;
                z-index: 30;
            }
            .painting-after{
                position: absolute;
                right: 5px;
                top: 35%;
                width: 36%;
                z-index: 30;
            }
        /* anknownの画像設定 */
            .anknown-before{
                position: absolute;
                right: 5px;
                top: 4%;
                width: 36%;
                z-index: 30;
            }
            .anknown-progress{
                position: absolute;
                left: 36%;
                top: 29%;
                width: 28%;
                z-index: 30;
            }
            .anknown-after{
                position: absolute;
                left: 5px;
                top: 35%;
                width: 36%;
                z-index: 30;
            }

/* ここまで施工実績の装飾 */

/* ここから施工エリアの装飾 */
    .area-title{
        font-size: 2em;
        line-height: 1.3;
    }
    .area-blank{
        margin-top: 6%;
    }
    /* 背景の設定 */
        .tokyo-area{
            background-image: url(../image/Construction\ area/tokyo.png);
            background-position: right top;
            /* display: flex;
            flex-direction: column-reverse; */
            position: relative;
            margin-bottom: 10px;
        }

        .trapezoid-tokyo {
            background: linear-gradient(rgba(37,87,129,.8),rgba(182,209,236,.8));
            position: absolute;
            z-index: -20;
            width: 100%;
            height: 100%;
            clip-path: polygon(0% 100%, 0% 0%, 40% 0%, 80% 100%);
        }

        .kanagawa-area{
            background-image: url(../image/Construction\ area/kanagawa.png);
            background-position: top left;
            /* display: flex;
            flex-direction: column; */
            position: relative;
            margin-bottom: 10px;
        }

        .trapezoid-kanagawa {
            background: linear-gradient(rgba(37,87,129,.8),rgba(182,209,236,.8));
            position: absolute;
            z-index: -20;
            width: 100%;
            height: 100%;
            clip-path: polygon(20% 100%, 60% 0%, 100% 0%, 100% 100%);
        }

        .title-t{
            position: absolute;
            left: 25%;
            bottom: 8%;
        }
        .map-t{
            position: relative;
            width: 100%;
            padding-right: 10%;
        }

        .title-k{
            position: absolute;
            left: 45%;
            bottom: 4%;
        }
        .map-k{
            position: relative;
            width: 100%;
            padding-left: 20%;
        }
/* ここまで施工エリアの装飾 */

/* ここから会社情報の装飾 */
        .company{
            background-image: url(../image/back/tesukiwashi-pattern-08.jpg);
            background-repeat: repeat-y;
            width: 100%;
        }
        .company-back{
            width: 100%;
            z-index: 100;
        }
        .company .segment-title{
            margin-top: -70px;
        }
        /* .summary{
            position: relative;
        } */
        /* 会社概要 */
            .companyinfo-title{
                font-size: 25px;
                line-height: 1;
                margin: 5% 0 1.5% 13%;
            }
            .company table{
                margin: 0 auto;
                border-collapse:  collapse;
            }
            tr:nth-child(odd) {
                background-color: rgba(100, 100, 100, .5);
            }
            td{
                padding: 15px 30px;
            }
        /* 企業理念 */
            .philosophy-content{
                /* position: relative; */
                margin-left: 20%;
                margin-right: 20%;
            }
            .philosophy-content h3{
                font-size: 20px;
                margin-bottom: 1%;
            }
            .philosophy-content h3{
                line-height: 1.3;
            }
            .philosophy-content div{
                margin-top: 1.5%;
            }
        /* 代表挨拶 */
            .greeting-content{
                display: flex;
                margin-left: 20%;
                margin-right: 20%;
                padding-bottom: 5%;
            }
            .greeting-content img{
                margin-right: 10px;
                width: 40%;
            }
            .company-back-down{
                margin-top: -3%;
            }
        /*  */
/* ここまで会社情報の装飾 */

/* ここからお問合せの装飾 */
    .contact-section{
        position: relative;
        min-height: 100vh;
        background-image: url(/image/Contact/white-keybord\pen.jpg);
    }
    .contact-card{
        background: rgba(255, 255, 255, 0.7);
        width: 50%;
        position: absolute;
        top: 10%;
        padding: 5%;
        margin-left: 50%;
        transform: translateX(-50%);
        backdrop-filter: blur(1px);
        border: 3px solid rgba(2, 2, 2, 0.4);
        border-right-color: rgba(12, 12, 12, 0.2);
        border-bottom-color: rgba(14, 14, 14, 0.2);
    }
    .contact-segment{
        /* display: flex; */
        margin-top: 10px;
    }
    .contact-segment input,textarea{
        border: .8px solid #343131;
        margin: 0 7% 0;
    }
    .contact-place input{
        margin: 0;
    }
    .contact-place label{
        margin-left: 7%;
    }
    .contact-submit input{
        padding: 0 3%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .contact-submit input:hover{
        background-color: #161515;
        color: aliceblue;
    }

/* ここまでお問合せの装飾 */

/* ここからfooterの装飾 */
    .page-footer{
        background-color: rgba(228, 228, 228,.9);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        z-index: 90;
        margin-top: 25px;
        position: relative;
    }
    .copy{
        position: absolute;
        right: 10px;
        bottom: 2px;
    }
/* ここまでfooterの装飾 */
